@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* .custom-quill {
  height: 100%;
  max-height: 380px;
  background-color: white; 
} */

.quill {
  height: 100%;
  max-height: 380px;
  /* flex: 1 1 0%; */
}

/* Optional: To ensure the toolbar has the same background color */
.ql-toolbar {
  background-color: white; /* Optional: Set toolbar background to white */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid #e9e6e4 !important;
  border-bottom: none !important;
}

.ql-container {
  border: 1px solid #e9e6e4 !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ql-container .ql-snow {
  background-color: white;
}

/* Optional: To ensure the editor content area has the same background color */
.ql-editor {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Pretendard';
  color: #4e4540 !important;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.hide-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
}
